 * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
/* Navbar */
  .navbar {
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
  }
    .nav-links li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;

  }
/* Header section */
  .head {
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
  }

  .head img {
    width: 400px;
    border-radius: 20px;

  }
.text h1:hover{
  color: red;
}

  .text h1 {
    font-size: 40px;
    color: goldenrod;

  }

  .text span {
    color: black;
  }

  .btn {
    padding: 15px 50px;
    background-color: gold;
    /* border: none; */
    border-radius: 20px;
    border: 1px solid red;
  }

  .btn a {
    color: white;
    text-decoration: none;
  }

  .btn:hover{
    background-color: green;
  }

  .btn a:hover{
    color: black;
  }

  /* Card Section */
  .cards{
    display: flex;
    gap: 20px;
    margin: 30px 50px;
  }
/* CARD 1 */
  .card1{
    background-color: #f5f6f7;
    padding: 10px 30px;
    border-radius: 20px;
  }

  .card1 img{
    padding: 20px 40px;
    width: 350px;
  }

  .card1 h2 a{
    text-decoration: none;
    color: black;
  }

  .card1 h2 a:hover{
    text-decoration: underline;
  }

  .btn2{
    padding: 10px 10px;
    margin: 20px 40px;
    border: 1px solid blue;
    border-radius: 20px;
  }

  .btn2 a{
    color: blue;
    text-decoration: none;
  }
/* CARD 2 */

  .card2{
    background-color: #f5f6f7;
    padding: 20px 30px;
    border-radius: 20px;
  }

  .card2 img{
    width: 350px;
    padding: 20px 40px;
  }

  .card2 h2 a{
    text-decoration: none;
    color: black;
  }

  .card2 h2 a:hover{
    text-decoration: underline;
  }
  .btn2 {
    padding: 10px 10px;
    margin: 20px 40px;
    border: 1px solid blue;
    border-radius: 20px;
  }
/* CARD 3 */

.card3{
    background-color: #f5f6f7;
    padding: 20px 30px;
    border-radius: 20px;
  }

  .card3 img{
    width: 350px;
    padding: 20px 40px;
  }

  .card3 h2 a{
    text-decoration: none;
    color: black;
  }

  .card3 h2 a:hover{
    text-decoration: underline;
  }
  .btn2 {
    padding: 10px 10px;
    margin: 20px 40px;
    border: 1px solid blue;
    border-radius: 20px;
  }

